//Sidenav_menu
nav.w3-sidenav.w3-red.w3-collapse.w3-top.w3-large.w3-padding(style="z-index:3;width:300px;font-weight:bold" id="mySidenav")
  a.w3-padding-xlarge.w3-hide-large.w3-display-topleft.w3-hover-white(href="javascript:void(0)" onclick="w3_close()" style="width:100%;font-size:22px") Close menu
  br
  h3.br
    a.w3-padding.w3-hover-white(href="/") Home
  br
  a.w3-padding.w3-hover-white(onclick="onClick(this)" role="button"  id='dialog-form') File
  br
  a.w3-padding.w3-hover-white(href="/signin" onclick="w3_close()") Login

w3-modal.w3-black.w3-padding-0(id="fileOpen" style='display: none')
  w3-text-dark-grey.w3-opacity.w3-red.w3-hover-opacity-off.w3-xxlarge.w3-container.w3-display-middle
    w3-closebtn(onclick='fileClose()') &times;
    w3-modal-content.w3-center.w3-transparent.w3-padding-64
      w3-image.img(id="img01")
      h4.p
        form(action='/panel', method='POST', enctype="multipart/form-data")
          .form-group
            label(for='images') 이미지 1
            input.form-control(type="file", name='photos')
          .form-group
            label(for='images') 이미지 2
            input.form-control(type="file", name='photos')
          .form-group
            label(for='images') 이미지 3
            input.form-control(type="file", name='photos')
          .form-group
            button.btn.btn-primary(type='submit' onclick="fileClose()") 제출
    a.w3-padding.w3-hover-white(href="/signin" onclick="w3_close()") Login
//Top menu on small screens
header.w3-container.w3-top.w3-hide-large.w3-red.w3-xlarge.w3-padding
  a.w3-btn.w3-red.w3-border.w3-border-white.w3-margin-right(href="javascript:void(0)" onclick="w3_open()") &#9776
  span ObLayout
  
//Overdlay effect when opening sidenav on small screens
div.w3-overlay.w3-hide-large(onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay")
  span ObLay
  
//Overdlay effect when opening sidenav on small screens
div.w3-overlay.w3-hide-large(onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay")
