extends layout

block hero-unit
  .jumbotron
block content
  .container
    .row
      .col-md-6  
        p
        a.btn.btn-default(href='/new') New
      .col-md-6
        p
        a.btn.btn-default(href='/open') Open
      
