extends layout

block hero-unit
  .jumbotron
    .container
      h1 BIGBANG-TODO

block content
  .container
    .carousel slide(id="myCarousel" data-ride="carousel")
      ol.carousel-indicators
        li(data-target="#myCarousel" data-slide-to="0" class="active")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
        li(data-target="#myCarousel" data-slide-to="3")
         
    .carousel-inner(role="listbox")
      .item active
        img(src="img_chania.jpg" alt="Chania" width="460" height="345")
        .carousel-caption
          h3 Chania
          p The atmosphere in Chania has a touch of Florence and Venice.</p>
      .item
        img(src="img_chania2.jpg" alt="Chania" width="460" height="345")
        .carousel-caption
          h3 Chania</h3>
          p The atmosphere in Chania has a touch of Florence and Venice.</p>
      .item
        img(src="img_flower.jpg" alt="Flower" width="460" height="345")
        .carousel-caption
          h3 Flowers
          p Beatiful flowers in Kolymbari, Crete.
         
      a.left carousel-control(href="#myCarousel" role="button" data-slide="prev")
        span.glyphicon glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right carousel-control(href="#myCarousel" role="button" data-slide="next")
        span.glyphicon glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
