extends ../layout
block content
  .w3-main(style="margin-left:340px; margin-right:40px")
    .w3-row-padding
      .w3-half
        each img in panel.images
          button.w3-btn(style='display: none' id='imgButton' onclick="ToggleId('layout')") layout
          table.w3-table(id='layout' style='display: none')
            tr
              each list in layoutList
                th= list
          button.w3-btn.w3-border-right(style='display: none' id='imgButton' onclick="ToggleId('shape')") shape
          table.w3-table(id='shape' style='display: none')
            tr
              each List in shapeList
                th= List
          img.btn.img-rounded.img-responsive(type='button' src=img style='width:100%' id='img' onclick="ToggleId('imgButton')")
